.App {
  max-width: 900px;
  margin: 100px auto;
  font-family: "Montserrat", serif;
  background-color:rgb(53, 136, 153);
  color: white;
 padding: 30px;
}

.App footer{
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
}

.App a{
  color: rgb(221, 219, 223);
}
