.App {
  max-width: 900px;
  margin: 100px auto;
  font-family: "Montserrat", serif;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url("./img/snowypic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
 
}

.App footer{
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
}

.App a{
  color: rgb(221, 219, 223);
}