.main-temp{
    border: 1px none rgb(117, 117, 133);
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    padding: 0;
    background-color: rgb(117, 117, 133);
    width: 300px;
    margin: 10px 0 10px 30px;
   
    

}
.temperature, .unit{
    color: white;

}