.Weather {
  border: 1px solid #e7e9eb;
  font-family: "Montserrat", serif;
  color: rgb(221, 221, 235);
  
}
.Weather form {
  margin: 20px;
}
.Weather h1 {
  text-align: left;
  margin: 20px 0 0 0;
}
.Weather ul {
  text-align: left;
  padding: 0;
  margin: 0 0 0 20px;
}
.Weather li {
  list-style: none;
  font-weight: 200;
  line-height: 1.5;
}

.Weather .temperature {
  font-size: 90px;
  margin: 0;
  position: relative;
  bottom: +10px;
}
.Weather img {
  max-width: fit-content;
  max-width: fit-content;
}

.Weather .unit {
  position: relative;
  bottom: +52px;
  font-size: 20px;
  margin-left: 5px;
}
